# Object files
*.o
*.ko
*.obj
*.elf
*.mod

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
medusa
hydro

# Debug files
*.dSYM/

# Directories
tables/
runs/
scaling/
obj/

# Config files
build.h
machine.mk
setup.mk
.clang_complete
.idea
.vscode
.DS_Store